.info-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.file-info {
  display: flex;

  .creater-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .creater-container {
    width: 10rem;
  }
  .time-container {
    width: 12rem;
  }
  .size-container {
    width: 6rem;
  }
}

.file-container {
  padding: 0 0.5rem;
  .file-icon {
    font-size: 1.5rem;
  }
}

:where(.css-dev-only-do-not-override-161f05s).ant-list-split .ant-list-item,
:where(.css-dev-only-do-not-override-161f05s).ant-list-split
  .ant-list-item:last-child {
  border-block-end: 1px solid #ccc;
}
.files-more-icon {
  font-size: 1.2rem;
  padding: 0 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
.files-list-item:hover .actions-container {
  visibility: visible;
}
.actions-container {
  visibility: hidden;
  &:hover {
    cursor: pointer;
  }
}

.item-header {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
  border-block-end: 1px solid #ccc;
  margin-bottom: 0;
  font-size: 1rem;

  .last-modified-time {
    margin-left: 7.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.files-list-breadcrumb {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.ant-breadcrumb-separator {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  border-radius: 0.5rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  .blank {
    flex-grow: 1;
  }
}

.select-alert-container {
  display: flex;
  align-items: center;
  gap: 2rem;

  .select-alert-actions {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}

.file-viewer-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-viewer-container {
  width: 80%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;

  .file-viewer-iframe {
    width: 80%;
    height: 100%;
  }
}