.ic-header {
  //   background: aqua;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ic-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .template-btn {
    margin-left: 0.5rem;
    border: 0.1rem solid;
  }
}

.search-block {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  gap: 1rem;

  .project-search {
    width: 15rem;
  }
}

.ant-input-outlined,
.ant-select-outlined,
.ant-btn-variant-outlined {
  border: 1.2px solid #818181;
  border-radius: 6px;
}
:where(.css-dev-only-do-not-override-161f05s).ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  color: rgba(0, 0, 0, 0.75);
}

.item-table {
  border: 1px solid #dddedd;
  border-radius: 6px;

  .ant-table-thead > tr > th {
    border-bottom: 1px solid #dddedd;
  }

  .item-table .ant-table-thead > tr > th {
    border-bottom: 1px solid #dddedd;
    background-color: #f8f8f8;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// 通用居中样式
.center-posision {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-panel-mask,
.apply-panel-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #00000080;

  .center-posision {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .create-panel{
    @extend .center-posision;
    background-color: #fff;
    width: 45%;
    height: 85%;
    border-radius: 0.2rem;
    position: relative;
  }

  .apply-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  // 申请面板通用样式
  .apply-panel {
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #f4f4ff;
  }

  .apply-success-popup {
    @extend .center-posision;
    @extend .apply-panel;
    align-items: center;

    .apply-success-img {
      width: 60%;
      height: 85%;
      margin-top: -2rem;
    }

    .apply-success-text {
      font-size: 1.2rem;
      font-weight: 500;
      color: #18003e;
    }

    .finish-btn {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 4rem;
      background-color: #717ada;
    }
  }

  .apply-to-join {
    @extend .center-posision;
    @extend .apply-panel;
    padding: 1.8rem 3rem;
    gap : 1rem;

    .title {
      font-size: 1.4rem;
      font-weight: 550;
      color: #18003e;
    }

    .apply-info {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .apply-info-block {
        display: flex;
        flex-direction: row;
      }
      p {
        width: 12rem;
      }
    }

    .apply-reason {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      .reason-input {
        height: 8rem;
      }
    }

    .submit-btn {
      height: 2.5rem;
      color: rgb(255, 255, 255);
      background-color: #717ada;
      border: 0rem;
      border-radius: 0.2rem;
      font-size: 0.8rem;
      font-weight: 600;

      &:hover {
        background-color: #575eac;
      }
    }
  }
}

.project-btn {
  font-weight: 500;
  color: #4a77ff;
}
