.ic-header {
  //   background: aqua;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ic-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .template-btn {
    margin-left: 0.5rem;
    border: 0.1rem solid;
  }
}

.search-block {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  gap: 1rem;

  .project-search {
    width: 15rem;
  }
}

.ant-input-outlined,  .ant-select-outlined, .ant-btn-variant-outlined {
  border: 1.2px solid #818181;
  border-radius: 6px;
}
:where(.css-dev-only-do-not-override-161f05s).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  color: rgba(0, 0, 0, 0.75);
}

.item-table {
    border: 1px solid #dddedd;
    border-radius: 6px;

    .ant-table-thead >tr>th {
        border-bottom: 1px solid #dddedd;
    }

    .item-table .ant-table-thead > tr > th {
        border-bottom: 1px solid #dddedd;
        background-color: #f8f8f8;
    }
}   

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.create-panel-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #00000080;

  .create-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 45%;
    height: 85%;
    border-radius: 0.2rem;
    // padding: 1.5rem;
  }
}