// @import '~antd/dist/antd.variable.less';

.ant-layout-sider {
  background-color: #97adc2;

  .logo-vertical {
    margin: 0.8rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    padding: 1rem;
    background-color: rgba(230, 244, 255, 0.785);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: rgb(22, 43, 69);

    .logo {
      width: 3rem;
      height: 3rem;
      margin-left: 3.5rem;
    }

    .logo-name {
      margin-left: 1rem;
      display: inline-block;
    }
  }

  &.ant-layout-sider-collapsed {
    .logo-vertical {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        margin: 0;
      }

      .logo-name {
        color: antiquewhite;
        display: none; /* 收缩时隐藏文字 */
      }
    }
  }

  .ant-menu-inline-collapsed {
    .ant-menu-item-icon,
    .ant-menu-submenu-title .ant-menu-item-icon,
    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
      margin-left: -0.2rem; /* 图标向左移动 8px，可以根据需要调整这个值 */
    }
  }
  .ant-menu {
    background-color: #97adc2;
    font-family: "PingFang SC";
    font-weight: 600;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .ant-menu-title-content {
    font-size: 1rem;
    margin-left: 2rem !important;
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    margin-top: 1rem;
  }
  .ant-menu-item-icon {
    font-size: 1.4rem !important; /* 调整图标大小 */
  }

  .ant-layout-sider-trigger {
    background-color: #31679a;
  }
}

.layout-header {
  padding: 0;
  background-color: #c0d7ed;
  height: 6rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;

  .left-top-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2rem;
    gap: 1.5rem;
  }

  .avatar {
    height: 4rem;
    width: 4rem;
  }
  
  .logout-btn {
    font-weight: 700;
  }
}
