.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #100b5b;
}

.operation-bar {
  display: flex;
  gap: 2rem;
}

.project-group-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.group-row {
  width: 90%;
  // background-color: aqua;
  // height: 10rem;
}

.project-search {
  width: 17rem;
}

.project-container {
  width: 90%;
  max-height: 50rem;
  min-height: 20rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 2rem 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;

  .item-block-header {
    width: 100%;
    height: 4rem;

    .sort-icon {
      height: 2rem;
      width: 2rem;
      margin-left: 1.5rem;
      padding: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 0.1rem;

      &:hover {
        background-color: #f4f4ff;
      }
    }
  }

  .project-list {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    margin-top: 3rem;
    padding-right: 2rem;

    /* 自定义滚动条 */
    &::-webkit-scrollbar {
      width: 6px; /* 滚动条宽度 */
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); /* 滚动条颜色 */
      border-radius: 10px; /* 圆角 */
    }

    &::-webkit-scrollbar-track {
      display: none;
    }
  }
}

.top-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
.greeting {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;

  .sun-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
}
}
