* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 包括内边距和边框在内 */
}
//颜色搞漂亮点 todo

:where(.css-dev-only-do-not-override-161f05s).ant-layout, 
:where(.css-dev-only-do-not-override-161f05s).ant-layout-footer {
  background-color: #f2f5ffe3;
}

.ant-layout-sider {
  background-color: #cbd4f8;
  color: #001D36;

  .ant-menu-inline-collapsed {
    .ant-menu-item-icon,
    .ant-menu-submenu-title .ant-menu-item-icon,
    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
      margin-left: -0.2rem; /* 图标向左移动 8px，可以根据需要调整这个值 */
    }
  }
  .ant-menu {
    background-color: #cbd4f8;
    font-family: "PingFang SC";
    font-weight: 600;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .ant-menu-title-content {
    font-size: 1rem;
    margin-left: 2rem !important;
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    margin-top: 1rem;
  }
  .ant-menu-item-icon {
    font-size: 1.4rem !important; /* 调整图标大小 */
  }

  .ant-layout-sider-trigger {
    background-color: #7795d2;
  }
}
//body:#f2f5ffe3  head:#c7d6f4  siderbar:#e3edff trigger:#7795d2
.layout-header {
  padding: 0;
  background-color: #e3e7ff;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 2px solid #31679a;

  .left-top-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3rem;
    gap: 1.2rem;
  }

  .avatar {
    height: 2rem;
    width: 2rem;
  }

  .logout-btn {
    height: 1.5rem;
    width: 1.5rem;
  }

  .logo-vertical {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(22, 43, 69);

    .logo {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 4rem;
    }

    .logo-name {
      margin-left: 1.5rem;
      display: inline-block;
    }
  }
}

.inner-layout {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.layout-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
  padding: 24;
  min-height: 90%;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
}