.progress-panel-group {
  border-radius: 1rem;
  padding: 1.2rem 1rem 1.2rem 2rem;
  width: 100%;
  height: 28rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;

  .list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #999;
    font-weight: bold;
    padding: 0.2rem;
    gap: 1.2rem;
  }

  .progress-list {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
    width: 100%;
    max-height: 12rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px; /* 自定义滚动条宽度 */
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(137, 137, 137);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: rgb(222, 222, 222);
      border-radius: 10px;
    }
  }

  .progress-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: #eaeaea;
    }

    .member-name {
      width: 6rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #3e3e3e;
    }

    .avatar {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid #ccc;
    }
  }
}

.num-right {
  width: 4rem;
  display: flex;
  justify-content: center;
}

.num-assigned {
  color: #231492;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.progress {
  width: 60%;
}
.panel-title {
  font-size: 1.1rem;
  font-weight: 550;
  color: #3e3e3e;
}

.panel-desc {
  color: #999;
  margin-top: 0.8rem;
}
