.personal-info-panel {
  display: flex;
  flex-direction: row;
  align-items: center;

  .personal-info-panel-left {
    height: 100%;
    width: 47%;
    padding-right: 2rem;
    
    .personal-info-top {
      font-size: 0.8rem;
      color: #999;
      margin-left: auto;
    }

    .nickname {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  .personal-info-content {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;

    .personal-info-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
      color: #666666;
      .personal-info-item-icon {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  .personal-info-panel-left-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
  }
}

.check-icon {
  border: 1px solid #ccc;
  padding: 0.2rem;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
