.panel-container {
  width: 30rem;

  .member-intro-title {
    font-size: 0.9rem;
    font-weight: 550;
    color: rgb(78, 65, 89);
  }

  .teacher-block, .member-block {
    margin-top: 1rem;
  }
}

.MuiChip-avatar {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
