.add-event-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.add-event-modal {
  height: 10rem;
  width: 10rem; 
}

.add-event-modal-selection {
    display: flex;
    gap: 2rem;
}

.add-event-modal-content {
    margin-top: 1rem;
}