.required-input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.ant-input-outlined {
    border-radius: 2px;
}

.faq {
    color: #999;
    font-size: 0.8rem;
    width: 35rem;
}