:where(.css-dev-only-do-not-override-161f05s).ant-tabs
  > .ant-tabs-nav
  .ant-tabs-nav-list,
:where(.css-dev-only-do-not-override-161f05s).ant-tabs
  > div
  > .ant-tabs-nav
  .ant-tabs-nav-list {
  margin-left: 2rem;
}
:where(.css-dev-only-do-not-override-161f05s).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-161f05s).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-161f05s).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-161f05s).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  border-bottom: 1px solid #ccc;
}
:where(.css-dev-only-do-not-override-161f05s).ant-tabs .ant-tabs-tab {
  padding: 0.3rem 0;
}

.channel-info-container {
  height: 78vh;
  display: flex;
  flex-direction: column;
}

.message-container {
  height: calc(78vh - 10rem);
  margin: 0 -2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  // justify-content: end;

  &::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
  }

  .message-list {
    display: flex;
    flex-direction: column;
  }

  .start-block {
    padding: 10rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .instruction {
      font-size: 1.1rem;
      color: #666;
    }
  }
}
